<mat-toolbar color="primary" class="columns-3">

    <div class="w-full">
        <button mat-icon-button aria-label="menu icon" #menu id="menu" (click)="menuClicked()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="brand_name" routerLink="/">SKYSHOP</span>
    </div>

    <div class="w-full">
        <form>
            <mat-form-field appearance="standard">
                <mat-label>Available products</mat-label>
                <input type="text" matInput id="searchInput" #searchInput [matAutocomplete]="auto" [formControl]="searchBox">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let item of options | async" [value]="item">
                        {{item | titlecase}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="openCategory()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
    </div>

    <div class="w-full text-right">
        <button mat-icon-button aria-label="shopping cart" class="!mr-8" routerLink="/orders">
            <mat-icon [matBadge]="itemsIncart" matBadgePosition="after" matBadgeColor="accent"
                [matBadgeHidden]="itemsIncart==0" matBadgeOverlap="false">shopping_cart_checkout</mat-icon>
        </button>
        <button mat-icon-button aria-label="profile icon" class="!w-12">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>

    <!-- <div class="w-full text-right">

    </div> -->

</mat-toolbar>