/* https://maketintsandshades.com/#e1b035 */

* {
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent-container {
  display: grid;
  grid-template-columns: repeat(1, 100vw);
  grid-template-rows: repeat(5, 100vh);
  overflow-y: scroll;
  overflow-x: hidden;
  /* important */
  height: 100vh;
  /* scroll-snap-points-y: repeat(100vh); */
  scroll-snap-type: y mandatory;
}

section:nth-child(odd) {
  background: #2d2b30;
}

section:nth-child(even) {
  background: #202130;
}

section {
  position: relative;
  scroll-snap-align: start;
}

.x-font-curve {
  font-family: 'serif';
}

.x-font-regular {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.x-font-primary-color {
  color: whitesmoke;
}

.x-font-secondary-color {
  color: #e1b035;
}

.page-1 aside {
  position: absolute;
  top: 30%;
  left: 15%;
}

.about > div {
  top: 10%;
  left: 10%;
}

.stack-card{
  width: 12rem;
  height: 11rem;
  background-color: #2d2b30;
  box-shadow: 0px 0px 0px 1px #2d2b30;
  border-radius: 10px;
  transition: all 0.5s;
}

.stack-card > img {
  /* height: 70%;
  width: 70%; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
}

.stack-card:hover {
  background-color: #e7c05d;
}