<main class="parent-container">

    <section class="page-1">

        <aside class="inline-flex flex-col gap-4">
            <div class="x-font-regular x-font-primary-color text-4xl">I'M <span
                    class="x-font-curve x-font-secondary-color text-7xl font-semibold">Aakash Dave</span></div>
            <div class="x-font-regular x-font-primary-color text-4xl">Front end Developer <br>System Engineer</div>
        </aside>

    </section>

    <section class="page-2">
        <aside class="about">
            <div class="relative my-6 x-font-curve x-font-primary-color text-6xl font-semibold w-3/4">About</div>
            <div class="relative mb-6 x-font-regular x-font-primary-color text-2xl w-3/4">
                I have acquired solid Web development experience in different technologies as well domains in <span
                    class="x-font-secondary-color">9+ years</span>
                of journey. I'm a full time <span class="x-font-secondary-color">front end developer</span> in a large
                organization, And have proven <span class="x-font-secondary-color">hustle of full
                    stack development</span>. I have experience of being a <span class="x-font-secondary-color">mentor,
                    trainer & Lead</span>. I offer expertise in
                SDLC &
                business decisions.
            </div>
        </aside>

        <main class="flex flex-col gap-3 items-center">
            <aside class="self-center x-font-curve x-font-primary-color text-6xl font-semibold my-1">My Skills</aside>
            <aside class="flex flex-row justify-between flex-wrap w-3/4 gap-3">
                <div class="stack-card"><img src="/assets/skills/js_logo.svg"></div>
                <div class="stack-card"><img src="/assets/skills/angular.svg"></div>
                <div class="stack-card"><img src="/assets/skills/typescript.svg"></div>
                <div class="stack-card"><img src="/assets/skills/html5.svg"></div>
                <div class="stack-card"><img src="/assets/skills/css3.svg"></div>
                <div class="stack-card"><img src="/assets/skills/gitlab.svg"></div>
                <div class="stack-card"><img src="/assets/skills/jenkins.svg"></div>
                <div class="stack-card"><img src="/assets/skills/nodejs.svg"></div>
                <div class="stack-card"><img src="/assets/skills/expressjs.svg"></div>
                <div class="stack-card"><img src="/assets/skills/postgresql.svg"></div>
            </aside>
        </main>

    </section>

    <section class="page-3 relative">
        <aside class="mt-2 mb-7 mx-10 x-font-curve x-font-primary-color text-6xl font-semibold">Experience</aside>
        <main class="flex flex-col gap-8 w-3/5 m-auto translate-experience">
            <div class="flex flex-row gap-6 self-center w-full">
                <div class="year-shape self-baseline mt-1"><span class="text-lg">2022</span></div>
                <div class="flex flex-col gap-1 items-center mt-1">
                    <div class="bg-yellow-400 rounded-full round-bullet"></div>
                    <div class="self-center h-full w-1 bg-white"></div>
                </div>
                <div class="flex flex-col gap-1">
                    <span class="x-font-regular text-3xl">Angular Developer | Front end</span>
                    <span class="location text-base">Tata Consultancy Services, INDIA</span>
                    <span class="exp-segment text-lg">Information & technology <br>
                        Digitalize & tranform traditional business processes into Single page web app</span>
                </div>
            </div>
            <div class="flex flex-row gap-6 self-center w-full">
                <div class="year-shape self-baseline mt-1"><span class="text-lg">2018</span></div>
                <div class="flex flex-col gap-1 items-center mt-1">
                    <div class="bg-yellow-400 rounded-full round-bullet"></div>
                    <div class="self-center h-full w-1 bg-white"></div>
                </div>
                <div class="flex flex-col gap-1">
                    <span class="x-font-regular text-3xl">Lead Developer | Front end</span>
                    <span class="location text-base">Tata Consultancy Services, INDIA</span>
                    <span class="exp-segment text-lg">Retail, Insurance, Healthcare,
                        Automobile<br>
                        Manage team & client relationship. Impact evaluation and resolution,
                        A process advisor and coach</span>
                </div>
            </div>
            <div class="flex flex-row gap-6 self-center w-full">
                <div class="year-shape self-baseline mt-1"><span class="text-lg">2014</span></div>
                <div class="flex flex-col gap-1 items-center mt-1">
                    <div class="bg-yellow-400 rounded-full round-bullet"></div>
                    <div class="self-center h-full w-1 bg-white"></div>
                </div>
                <div class="flex flex-col gap-1">
                    <span class="x-font-regular text-3xl">Senior JavaScript Developer | Front end</span>
                    <span class="location text-base">Tata Consultancy Services, INDIA</span>
                    <span class="exp-segment text-lg">Retail, Insurance, Healthcare,
                        Automobile<br>
                        Translate customer needs into business and technology
                        solutions
                    </span>
                </div>
            </div>
            <div class="flex flex-row gap-6 self-center w-full">
                <div class="year-shape self-baseline mt-1"><span class="text-lg">2013</span></div>
                <div class="flex flex-col gap-1 items-center mt-1">
                    <div class="bg-yellow-400 rounded-full round-bullet"></div>
                    <div class="self-center h-full w-1 bg-white"></div>
                </div>
                <div class="flex flex-col gap-1">
                    <span class="x-font-regular text-3xl">PHP Developer | Full stack</span>
                    <span class="location text-base">Khodiyar Impex (a2z), INDIA</span>
                    <span class="exp-segment text-lg">E-commerce<br>
                        Develop modules for E-commerce websites
                    </span>
                </div>
            </div>
        </main>
    </section>

    <section class="page-4">
        <main class="flex flex-col items-center h-full">
            <aside class="pt-8 x-font-curve x-font-primary-color text-6xl font-semibold">Portfolio
            </aside>
            <aside class="flex flex-row justify-center items-center gap-6 grow">
                <div class="portfolio-card relative">
                    <img src="/assets/portfolio/skyshop_.PNG">
                    <div class="demo-1-detail">
                        <p>A lite e-commerce website Demo<br>
                            <a href="https://www.github.com/aakash-dave/skyshop" target="_blank"><button
                                    class="visit-btn">Visit on Github</button></a>
                        </p>
                    </div>
                </div>
                <div class="portfolio-card relative">
                    <p>Working on it</p>
                </div>
                <div class="portfolio-card relative">
                    <p>Yet to plan</p>
                </div>
            </aside>
        </main>
    </section>
    <section class="page-5">
        <aside class="flex flex-row justify-center items-center h-full">
            <fieldset class="relative w-full border-solid border-2 border-x-0 border-yellow-400 h-2/4 contact-box">
                <legend class="text-center px-5 x-font-curve x-font-primary-color text-6xl font-semibold">Contact Me
                </legend>
                <div class="flex flex-row justify-center gap-8 flex-wrap w-3/5 m-auto mt-12">
                    <div
                        class="flex justify-evenly items-center contact-card x-font-secondary-color x-font-regular text-2xl">
                        <img src="/assets/contact/email-icon.svg" class="scale-150">
                        <div><a href="mailto:aakash.dave81@gmail.com" target="_blank">aakash.dave81@gmail.com</a>
                        </div>
                    </div>
                    <div
                        class="flex justify-evenly items-center contact-card x-font-secondary-color x-font-regular text-2xl">
                        <img src="/assets/contact/phone_icon.svg" class="scale-150">
                        <div><a href="tel:+918866108221" target="_blank">+91 8866108221</a></div>
                    </div>
                    <div
                        class="flex justify-evenly items-center contact-card x-font-secondary-color x-font-regular text-2xl">
                        <img src="/assets/contact/home_icon.svg" class="scale-150">
                        <div><a href="https://goo.gl/maps/wZu8WZ57RdBkyKQ19" target="_blank">Vadodara, India</a>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center gap-5 social-icon">
                    <a href="https://github.com/aakash-dave" target="_blank"><img
                            src="/assets/contact/github-icon.png"></a>
                    <a href="https://www.linkedin.com/in/me-aaki/" target="_blank"><img
                            src="/assets/contact/linkedin-icon.png"></a>
                </div>
            </fieldset>
        </aside>
    </section>

</main>