/* Entirely used Tailwind CSS for this page*/
/* im sorry had to use custom path */

/* .blob-background {
    background-image: url(../../assets/order/blobanimation.svg);
    opacity: 0.5;
    background-size: cover;
} */