<div class="sidenav-content">
  <ng-container *ngFor="let item of allProducts | async">
    <mat-card>
      <img (click)="openProduct(item.id, item.category)" mat-card-image src="/assets/{{item.category}}/{{item.url1}}"
        alt="Oops!">
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{item.short_desc}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-mini-fab color="primary" (click)="addToCart(item.id)">
          <mat-icon title="Cart">{{alreadyInCart(item.id)}}</mat-icon>
        </button>
        <span class="rating_svg" *ngIf="showRatingOnItem == item.id && showRatingbtn">
          <mat-icon>{{ratingEmoji[item.rating]}}</mat-icon>
        </span>

        <button mat-mini-fab color="primary" class="product_rating" (click)="showRating(item.id)">
          <mat-icon #ratingBtn title="overall rating">star_half</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
<!-- </mat-drawer-container> -->