<mat-drawer-container class="sideNavContainer" autosize>
  <mat-drawer #sidenav class="sidenav" mode="over">

    <aside>
      <hr>
      <br>
      <h4><a routerLink="/category/caps">Caps</a></h4>
      <h4><a routerLink="/category/sunglasses">Sunglasses</a></h4>
      <h4><a routerLink="/category/hood">Hoodies</a></h4>
      <hr>
      <br>
      <h3>Orders</h3>
      <hr>
      <br><br>
      <h2>About website</h2>
      <h2>About Developer</h2>
      <hr>
    </aside>

  </mat-drawer>

  <div class="sidenav-content">
    <ng-container *ngFor="let item of _Allproducts_ | async">
      <mat-card class="landing-products">
        <img (click)="openProduct(item.id, item.category)" mat-card-image src="/assets/{{item.category}}/{{item.url1}}"
          alt="Oops!">
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{item.short_desc}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-mini-fab color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>{{item.rating}}
          <span id="aa" class="rating_svg" *ngIf="item.rating == 1"><mat-icon>sentiment_dissatisfied</mat-icon></span>
          <span class="rating_svg" *ngIf="item.rating == 2"><mat-icon>sentiment_neutral</mat-icon></span>
          <span class="rating_svg" *ngIf="item.rating == 3"><mat-icon>mood</mat-icon></span>
          <span class="rating_svg" *ngIf="item.rating == 4"><mat-icon>sentiment_satisfied</mat-icon></span>
          <span class="rating_svg" *ngIf="item.rating == 5"><mat-icon>sentiment_very_satisfied</mat-icon></span>
          <button mat-mini-fab color="primary" class="product_rating">
            <mat-icon>star_half</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</mat-drawer-container>