.mat-dialog-container {
    width:auto;
}

.mat_dialog_content {
    height: 68%;
}

.avtar_section .mat-icon {
    transform: scale(2);
}

.avtar_section>button {
    margin-right: 25px;
}

.mat-form-field {
    margin-right: 10px;
}

.avtar_name {
    background-color: azure;
    position: relative;
    top: 20px
}

.play_arrow {
    position: relative;
    top: 5px;
}