.mat-form-field {
    width: 80%;
    font-size: medium;
}

.profile_part {
text-align: right;
}

.brand_name{
    margin-left: 5px;
    font-family: fantasy;
    font-size: larger;
    color:ivory;
}